<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Data Marcado</th>
      <th scope="col">Enviar SMS</th>
      <th scope="col">Retirar Agenda</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cct of contacts; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>
        <div> {{ cct.name }} </div>
      </td>
      <td>
        <div>
          <div> {{ cct.date }} </div>
        </div>
      </td>
      <td>
        <app-tela-de-envio [msg]="'Olá ' + cct.name + ' não esqueça de sua consulta dia: ' + cct.date + '.'"
          [number]="cct.phone">
        </app-tela-de-envio>
      </td>
      <td>
        <button mat-flat-button (click) = "excluirPaciente(cct.name, cct.date)" class="bt-excluir" > Excluir </button>
      </td>
  </tbody>
</table>