<mat-card class="centered"><h3>Cadastro Médico</h3></mat-card>
<form class="medico-form centered">
  <mat-form-field class="mat-full" appearance="standard">
    <input matInput placeholder="CREMERS">
  </mat-form-field>
  <br/>
  <mat-form-field class="mat-full" appearance="standard">
      <input matInput placeholder="Especialização">
  </mat-form-field>
  <mat-form-field class="mat-full" appearance="standard">
    <input matInput placeholder="Nome" pattern="[A-Za-z\s]+">
  </mat-form-field>
  <br/>
  <mat-form-field class="mat-full" appearance="standard">
    <input matInput placeholder="CPF">
  </mat-form-field>
  <br/>
  <button mat-flat-button style="float:right" > Cadastrar </button>
</form>


  
