/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.medico-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.mat-full{
  width: 100%;
}

.centered{
  text-align: center;
  margin: 0px auto;
  display: block; 
}