<mat-card>Faça Seu Cadastro</mat-card>
<form class="form" [formGroup]="form" (ngSubmit)="tryRegister()">
  <mat-form-field class="mat-full" appearance="standard">
    <input matInput placeholder="E-mail" formControlName="email">
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>
  <br/>
  <mat-form-field class="mat-full" appearance="standard" >
    <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" formControName="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <button mat-flat-button style="margin-left:5px;" class="signup" type="submit">Fazer Cadastro</button>
</form>

<button mat-flat-button [routerLink]="['/cadastro-paciente']" style="margin-right: 3px;">Cadastro para Pacientes</button>
<button mat-flat-button [routerLink]="['/cadastro-medico']"> Cadastro Médicos </button>