<div>
  <div class="container">
    <div *ngIf="auth.user | async; then authenticated else guest">
    </div>
  </div>

  <!-- User NOT logged in -->
  <ng-template #guest class="container">
    <h3>Olá, Visitante</h3>
    <p class="card-text">Faça login para ver seus dados...</p>
    <button mat-flat-button routerLink="/login" style="margin-left:5px;">Login</button>
  </ng-template>

  <!-- User logged in -->
  <ng-template #authenticated class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="login container">
            <div *ngIf="auth.user | async as user">
              <h3>Olá, {{ user.displayName }}</h3>
              <img class="" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
              <p class="text-truncate">Email: {{ user.email }}</p>
              <button mat-flat-button (click)="logout()" style="margin-left:5px;">Logout</button>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="countainer">
            <app-user-agenda class="agenda" style="overflow: auto; height: 700px"></app-user-agenda>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<!-- 
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    
  </div>
</ng-template> -->